:root {
   --blanco: #fafafa;
   --blanco2: #ddd;
   --blanco4: #ccc;
   --gris1: #edf2f6;
   --gris2: #444;
   --gris3: #2a2a2a;
   --negro: #000000;
   --negro2: #111;
   --negro3: #222;
   --negro4: #060606;
   --negro5: #080808;
   --negro6: #101010;
   --headingFont: 'Raleway', sans-serif;
   --textFont: 'Roboto', sans-serif;
}
*,
*:before,
*:after {
   box-sizing: inherit;
}
html {
   box-sizing: border-box;
   height: 100%;
   font-size: 62.5%;
}
body {
   min-height: 100%;
   background-color: var(--negro);
   font-size: 16px;
   font-size: 1.6rem;
   font-family: var(--textFont);
}

h1,
h2 {
   font-family: var(--headingFont);
   font-weight: 900;
   margin: 0 0 4rem 0;
   text-align: center;
   color: var(--blanco);
}
h1 span {
   font-weight: 400;
}
h1 {
   font-size: 3rem;
}
h2 {
   font-size: 2.4rem;
}
ul {
   list-style: none;
   padding: 0;
   margin: 0;
}
a {
   text-decoration: none;
   color: var(--blanco4);
}

/** BOTONES **/
.btn {
   margin-top: 2rem;
   font-family: var(--headingFont);
   padding: 1.5rem;
   font-size: 1.4;
   font-weight: 400;
   border-radius: 0.5rem;
   border: none;
   transition: background-color 0.3s ease;
}
.btn:hover {
   cursor: pointer;
}
.btn-primario {
   background-color: var(--negro3);
   color: var(--blanco);
}
.btn-primario:hover {
   background: var(--negro2);
}
.btn-secundario {
   background-color: var(--gris1);
}
.btn-block {
   display: block;
   width: 100%;
}
.btn-submit:hover {
   background-color: var(--gris2);
}
.btn-blank {
   margin: 0;
   padding: 0;
   display: block;
   background-color: transparent;
}

/* boton google */
.row-btn {
   display: flex;
   justify-content: space-between;
}

.google-btn {
   cursor: pointer;
   margin-top: 5px;
   margin-right: 4px;
   width: 100%;
   height: 44px;
   background-color: var(--negro3);
   border-radius: 0.5rem;
   box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

   transition: box-shadow 0.3s ease;
}

.google-btn:hover {
   box-shadow: 0 0 6px var(--negro3);
}

.google-btn:active {
   background: var(--negro2);
}

.google-icon-wrapper {
   position: absolute;
   margin-top: 1px;
   margin-left: 1px;
   width: 42px;
   height: 42px;
   border-radius: 0.5rem;
   background-color: var(--blanco);
}

.google-icon {
   position: absolute;
   margin-top: 9px;
   margin-left: 9px;
   width: 25px;
   height: 25px;
}

.btn-text {
   text-align: center;
   margin-left: 10px;
   color: var(--blanco);
   font-size: 14px;
   letter-spacing: 0.2px;
}

@media (min-width: 768px) {
   .contenedor-app {
      display: flex;
      min-height: 100vh;
   }

   aside {
      background-color: var(--negro5);
      flex: 0 0 300px;
   }
   .seccion-principal {
      flex: 1;
   }
}

@media (max-width: 400px) {
   .row-btn {
      display: block;
   }

   .btn-text {
      float: right;
      margin: 11px 100px 0 0;
   }
}

/* BARRA LATERAL */
aside {
   padding: 3rem;
   background-color: var(--negro5);
}

.formulario-nuevo-proyecto {
   margin-top: 6rem;
}
.formulario-nuevo-proyecto .input-text {
   border-bottom: 1px solid var(--gris2);
   border-radius: 0.5rem;
   color: var(--blanco);
   background-color: var(--negro);
}

.formulario-nuevo-proyecto .input-text:focus {
   outline: none !important;
   border: 1px solid var(--gris2);
}

/* .formulario-nuevo-proyecto .input-text::placeholder {
   color: var(--blanco);
} */
.proyectos {
   margin-top: 10rem;
}
.listado-proyectos li {
   margin-bottom: 2rem;
}
.listado-proyectos li button {
   font-size: 1.4rem;
   color: var(--blanco);
   line-height: 1.5;
   font-weight: 300;
   transition: color 0.2s ease-in-out;
}
.listado-proyectos li button:hover {
   color: var(--blanco4);
}
.app-header {
   display: flex;
   justify-content: space-between;
   background-color: var(--gris2);
   padding: 4rem;
}
.nombre-usuario {
   color: var(--blanco);
   font-size: 2.2rem;
   margin: 0;
}
.nombre-usuario span {
   font-weight: 900;
}
.nav-principal a {
   color: var(--blanco);
   text-decoration: none;
}
.nav-principal a:first-of-type {
   margin-right: 2rem;
}

/** Formulario crear y editar tareas **/
.formulario {
   background-color: var(--gris3);
   padding: 4rem;
}
.formulario form {
   max-width: 600px;
   margin: 0 auto;
}
.contenedor-input {
   display: flex;
}
.contenedor-input label {
   margin-bottom: 1rem;
   color: var(--blanco);
}
.input-text {
   padding: 1rem;
   border: none;
   border-radius: 0.5rem;
   flex: 1;
   width: 100%;
}

/** TAREAS LISTADO **/
.contenedor-tareas {
   padding: 4rem;
}

.listado-tareas {
   max-width: 600px;
   margin: 0 auto;
}

.tarea {
   display: flex;
   justify-content: space-between;
   background-color: var(--blanco);
   padding: 0.5rem 2rem;
   align-items: center;
   margin-bottom: 1rem;
   border-radius: 0.5rem;
}
.sombra {
   -webkit-box-shadow: 0px 4px 10px -3px rgba(117, 117, 117, 1);
   -moz-box-shadow: 0px 4px 10px -3px rgba(117, 117, 117, 1);
   box-shadow: 0px 4px 10px -3px rgba(117, 117, 117, 1);
}
.sombra-dark {
   -webkit-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
   -moz-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
   box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
}
.tarea .acciones .btn:first-of-type {
   margin-right: 1rem;
}
.tarea p {
   font-size: 1.6rem;
   flex: 1;
   padding-right: 2rem;
}
.tarea .btn {
   padding: 0.8rem;
   font-size: 1.4rem;
   border-radius: 0;
   margin: 0;
}

.estado {
   margin-right: 1rem;
}
.estado button,
.mensaje {
   font-weight: 900;
   font-family: var(--textFont);
   font-size: 1rem;
   padding: 0.5rem;
   border-radius: 0.5rem;
   cursor: pointer;
   border: none;
}
.mensaje {
   text-align: center;
   font-size: 1.6rem;
   border-radius: 0;
}
.mensaje:hover {
   cursor: default;
}
.completo,
.correcto {
   background-color: rgba(154, 252, 154, 0.3);
   color: var(--gris3);
}
.incompleto {
   background-color: rgba(255, 178, 178, 0.4);
   color: var(--gris3);
}
.error {
   max-width: 600px;
   margin: 2rem auto 0 auto;
   background-color: rgb(170, 0, 0);
   color: var(--blanco);
}

.tarea-enter,
.proyecto-enter {
   opacity: 0;
}
.tarea-enter-active,
.proyecto-enter-active {
   opacity: 1;
   transition: opacity 200ms;
}
.tarea-exit,
.proyecto-exit {
   opacity: 1;
}
.tarea-exit-active,
.proyecto-exit-active {
   opacity: 0;
   transition: opacity 200ms;
}

.form-usuario {
   background-color: var(--negro);
   height: 100vh;
   min-height: 800px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.contenedor-form {
   padding: 5rem 3rem;
   max-width: 500px;
   width: 95%;
   background-color: var(--negro5);
   border: 1px solid var(--negro2);
   border-radius: 1rem;
}

.campo-form {
   display: flex;
   margin-bottom: 2rem;
   align-items: center;
}
.campo-form:last-of-type {
   margin: 0;
}
.campo-form label {
   flex: 0 0 100px;
   font-family: var(--textFont);
}
.campo-form input[type='password'],
.campo-form input[type='email'],
.campo-form input[type='text'] {
   border: 1px solid var(--negro);
   background-color: var(--negro);
   color: var(--blanco);
   border-radius: 0.5rem;
   padding: 1rem;
   flex: 1;
}

/* border focus */
.campo-form input[type='password']:focus,
.campo-form input[type='email']:focus,
.campo-form input[type='text']:focus {
   outline: none !important;
   border: 1px solid var(--negro3);
}

.enlace-cuenta {
   margin-top: 2rem;
   display: block;
   opacity: 0.7;
}

.alerta {
   position: fixed;
   top: 0;
   left: 0;
   padding: 1rem 3rem;
   border-radius: 1rem;
   font-family: var(--headingFont);
   font-weight: 600;
   text-transform: uppercase;
   font-size: 2.2rem;
   text-align: center;
   width: 100%;
}
@media (min-width: 768px) {
   .alerta {
      width: auto;
      top: 30px;
      right: 10px;
      left: auto;
   }
}

.alerta-ok {
   background-color: rgb(109, 211, 109);
   color: rgb(2, 103, 2);
}
.alerta-error {
   background-color: rgb(230, 78, 78);
   color: var(--blanco);
}

.btn-eliminar {
   background-color: var(--blanco);
}
